<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>{{ bulletin.title }}</title>
    <link rel="stylesheet" href="{% static 'bulletin/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="h-100">
    <!-- <div class="container"> -->
    <div class="row h-100">
        <div class="col-2 text-center side-nav flex-fill">
            <!-- <div class="row justify-content-center align-items-center"> -->
            <h1>Your Bulletins</h1>
            <a class="btn btn-primary" href="{% url 'bulletin:bulletin-new' %}">Create Bulletin</a>

            {% if bulletins %}
            {% for bulletin in bulletins %}

            <a id="bulletin" class="bulletin-list-item" href="{% url 'bulletin:bulletin' bulletin.id %}">
                <div class="p-3">
                    <img src="{{ bulletin.bulletin_picture.url }}" class="rounded-circle img-fluid" />
                    <p>{{ bulletin.title }}</p>
                </div>
            </a>
            {% endfor %}
            {% endif %}
            <!-- </div> -->

        </div>
        <div class=" col-8 d-flex-vertical">
            <div class="bulletin-heading h-25 p-2">
                <div class="row align-items-center h-100">
                    <div class="col-4">
                        <h1>{{ bulletin.title }}</h1>
                        <a class="btn btn-primary" href="{% url 'bulletin:bulletin-edit' bulletin.id %}">Edit Bulletin</a>

                    </div>
                    <div class="col-4">
                        <h1>Location</h1>
                    </div>
                    <div class="col-4">
                        <h1>{{ bulletin.description }}</h1>
                    </div>
                </div>
            </div>
            <div class="py-4 bulletin col d-flex-vertical">
                <div class="row px-5">
                    <a class="btn btn-primary" href="{% url 'bulletin:post-new' bulletin.id %}">Create Post</a>
                </div>
                <div class="row">

                    {% if posts %}
                    {% for post in posts %}
                    <div class="col-6">
                        <a id="post" class="bulletin-post" href="{% url 'bulletin:post' post.id %}">
                            <div class="m-3 p-2 bg-white">
                                <p class="lead p-0 m-0">{{ post.creator }}</p>
                                <h2 class="p-0 m-0">{{ post.title }}</h2>
                                <p>{{ post.pub_date }}</p>
                                <p>{{ post.content | truncatechars:200}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-2 side-nav text-center flex-fill">
            <h1>Members</h1>
            {% if members %}
            {% for member in members %}
            <div class="p-3 text-center ">
                <img src="{{ member.profile_picture.url }}" class="rounded-circle img-fluid" />
                <p>{{ member.first_name }} {{ member.last_name }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <!-- </div> -->
    </div>

</body>

</html>